header {
  display: flex;
  height: 64px;
  padding: 0px 64px;
  align-items: center;
  gap: 16px;

  border-bottom: 1px solid #258EEF;
}

.NavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.NavLinks__homeButton {
  color: #2C2E5C;

  /* large */
  font-family: Noto Sans JP;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
}

.NavLinks__aboutButton {
  color: #2C2E5C;

  /* large */
  font-family: Noto Sans JP;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
}
